{% extends 'base.html' %}
{% block content %}

<h2>Listar Cursos</h2>
<a href="#">Cadastrar novo curso</a>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Carga horaria</th>
            <th>Investimento</th>
        </tr>
    </thead>
    <tbody>
        {% for a in cursos %}
        <tr>
            <td>{{a.nome}}</td>
            <td>{{a.carga_horaria}}</td>
            <td>{{a.investimento}}</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}